/* General */
body{
  background-color: #FFFFFF;
  color: #000000;
  font-family: 'Helvetica';
  font-size: 16px;
}
picture{ width: 100%; }
a, button,
a:focus, button:focus{ 
  text-decoration: none !important; 
  outline: none !important; 
}
.o-f-c{ object-fit: cover; }
.wrapper{
  width: 1440px;
  margin: 0 auto;
}
/* validation */
.form-control.is-invalid, 
.was-validated .form-control:invalid{
  background-image: none;
}
/* top bottom left right */
.bottom-45i{ bottom: 45px !important; }
.right-25i{ right: 25px !important; }
.right-50i{ right: 50px !important; }
/* background */
.bc-3583E0{ background-color: #3583E0; }
.bc-266DD8{ background-color: #266DD8; }
.bc-F7F5F5{ background-color: #F7F5F5; }
.bc-000000{ background-color: #000000; }
/* colores */
/* weight, style */
.fw-bold{ font-weight: bold; }
.fs-i{ font-style: italic; }
/* size */
.fs-12{ font-size: 12px; }
.fs-15{ font-size: 15px; }
.fs-20{ font-size: 20px; }
.fs-20i{ font-size: 20px !important; }
.fs-22{ font-size: 22px; }
.fs-24{ font-size: 24px; }
.fs-25{ font-size: 25px; }
.fs-26{ font-size: 26px; }
.fs-30{ font-size: 30px; }
.fs-35{ font-size: 35px; }
.fs-48{ font-size: 48px; }
/* width */
.w-88{ width: 88px; }
.w-110{ width: 110px; }
.w-170{ width: 170px; }
.w-260{ width: 260px; }
.w-300{ width: 300px; }
.w-280i{ width: 280px !important; }
.w-350i{ width: 350px !important; }
/* padding y margin */
.p-l-15{ padding-left: 15px; }
.p-l-50{ padding-left: 50px; }
.p-l-25i{ padding-left: 25px !important; }
.p-r-0{ padding-right: 0; }
.p-r-28i{ padding-right: 28px !important; }
.p-t-20{ padding-top: 20px; }
.p-t-30{ padding-top: 30px; }
.p-t-40{ padding-top: 40px; }
.p-t-55{ padding-top: 55px; }
.p-t-50{ padding-top: 50px; }
.p-t-70{ padding-top: 70px; }
.p-t-80{ padding-top: 80px; }
.p-b-10{ padding-bottom: 10px; }
.p-b-20{ padding-bottom: 20px; }
.p-b-25{ padding-bottom: 25px; }
.p-b-30{ padding-bottom: 30px; }
.p-b-40{ padding-bottom: 40px; }
.p-b-45{ padding-bottom: 45px; }
.p-b-70{ padding-bottom: 70px; }
.m-t-30{ margin-top: 30px; }
.m-r-20{ margin-right: 20px; }
.m-b-40{ margin-bottom: 40px; }
.m-b-60{ margin-bottom: 60px; }
.m-b-100{ margin-bottom: 100px; }
.m-b-200{ margin-bottom: 200px; }
/* border */
.b-b-1{ border-bottom: 1px solid #C4C4C4; }
/* height y width */
.h-36{ height: 36px; }
.h-45{ height: 45px; }
.h-57{ height: 57px; }
.h-68{ height: 68px; }
.lh-17{ line-height: 17px; }
.lh-23{ line-height: 23px; }
.lh-25{ line-height: 25px; }
.lh-29{ line-height: 29px; }
.lh-34{ line-height: 34px; }
.lh-40{ line-height: 40px; }
.lh-45{ line-height: 45px; }
.lh-48{ line-height: 48px; }
/* checkbox y radios */
.form-check{
  padding-left: 3.25rem;
}
.form-check-input{
  width: 22px;
  height: 22px;
  margin-left: -2.25rem;
}
.form-check-label{
  font-size: 22px;
}
/* sidebar accordion */
#sidebar-filter .card-header{
  background-color: #ffffff;
}
#sidebar-filter .card-header button{
  color: #000000;
}
#sidebar-filter .card-body{
  background-color: #E5E5E5;
  margin-bottom: 18px;
}
.accordion .card-header{ background-color: #000; }
.accordion .card-header button{ 
  font-size: 22px; 
  line-height: 23px;
  color: #ffffff; 
  padding: 0; 
}
.accordion .card-body .card{ 
  border: 0;
}
.accordion .card-body .card-header{ 
  border: 0;
  background-color: transparent; 
  padding:  0;
}
.accordion .card-body .card-header button{ 
  border: 0;
  padding: 0;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}
/* combobox personalizado */
.custom-select {
  background: #C4C4C4;
  border: 0;
  border-radius: 0;
  font-size: 18px;
  height: 68px;
  padding: 0;
  position: relative;
}
.custom-select-spacing{
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
}
.custom-select select {
  display: none;
}
.select-selected:after {
  position: absolute;
  content: "";
  top: 34px;
  right: 30px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #000000 transparent transparent transparent;
}
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #000000 transparent;
  top: 26px;
}
.select-items div,.select-selected {
  color: #000000;
  height: 68px;
  line-height: 68px;
  border-top: 1px solid;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}
.select-items div{
  border-top:  1px solid #000000;
}
.select-items {
  position: absolute;
  background-color: #C4C4C4;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}
.select-hide {
  display: none;
}
.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
/* modales */
/* header */
.navbar-brand{
  padding-left: 40px;
  padding-top: 11px;
}
.nivel1 .right{
  padding-top: 13px !important;
  padding-right: 46px !important;
  padding-left: 0;
}
header .nivel1{ 
  border-bottom: 1px solid #C4C4C4;
  padding-top: 26px; 
  padding-bottom: 25px;
}
header .menu{ 
  height: 86px;
}
header nav ul li > a{
  padding-left: 64px !important;
}
.btn-contact{
  width: 170px;
  height: 68px;
  line-height: 50px;
}
/* cuerpo de paginas */
.title{ 
  font-weight: bold;
  margin: 0;
}
.vacation_info{
  background-color: rgba(0, 0, 0, 0.7);
  bottom: 0;
  color: #ffffff;
  position: absolute;
  padding: 15px 40px;
  margin: 0 15px;
  text-align: center;
  z-index: 1;
  left: 0;
  right: 0;   
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column; 
}
.vacation_info h3{ margin: 0; }
.vacation_info p{ display:none; padding-top: 50px; }
.vacation_item{ margin-bottom: 70px; }
.vacation_item:hover .vacation_info{ top: 0; }
.vacation_item:hover .vacation_info p{ display: block; }
.carousel-caption-flex{ 
  display: flex !important;
  top: 0;
  right: 0;
  align-items: center;
  margin: 0;
  padding: 0;
  left: 0;
  bottom: 0;
}
.fondo, .fondo2{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.fondo{
  background: radial-gradient(35.77% 35.77% at 50% 50%, rgba(43, 41, 41, 0) 0%, rgba(0, 0, 0, 0.112) 55.52%, rgba(0, 0, 0, 0.448) 100%);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.fondo2{
  background: linear-gradient(267.13deg, rgba(30, 29, 29, 0.8) 29.42%, rgba(141, 137, 137, 0) 67.17%);
}
.traveler_item{
  background: rgba(0, 0, 0, 0.7);
  padding: 70px 50px 35px 50px;
}
.traveler_item h4{
  padding-bottom: 50px;
}
.more{
  background: #C4C4C4;
  width: 196px;
  display: block;
  height: 41px;
  line-height: 41px;
  font-size: 15px;
  color: #000000 !important;
  margin: 0 auto;
}
#tours .card{
  margin-bottom: 45px;
}
#tours .card-body{
  min-height: 255px;
}
.rectangulo_gris{
  background-color: #C4C4C4;
  width: 222px;
  height: 142px;
  margin-bottom: 25px;
}
/* pagina de tours */
.tour_item .card{
  margin-bottom: 30px;
}
.tour_item .card-body{
  min-height: 105px;
  padding: 15px;
}
/* pagina de vacation types */
#vacation_type_style{
  padding-bottom: 90px;
}
/* pagina de tour details  - sin precio */
.circle-star{
  color: #1c97db;
  text-align: center;
  font-size: 48px;
  vertical-align: middle;
}
.day_item{
  font-size: 30px;
  margin-top: 20px;
}
#following .container{
  background-color: #F7F5F5;
  padding-top: 70px;
  padding-bottom: 100px;
}
.pageTourDetails .content-details{
  background-color: #F7F5F5;
  padding: 15px 40px;
}
.pageTourDetails .details{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 25px 0;
}
.pageTourDetails .details .circle{
  width: 21px;
  height: 21px;
  border: 1px solid #000000;
  border-radius: 50%;
  margin-right: 7px;
}
.pageTourDetails .details .circle.active{
  background-color: #0097DA;
  border: 1px solid #0097DA;
}
.pageTourDetails .card-details{
  padding: 30px;
}
/* footer */
footer .container{
  padding: 80px 55px 40px 55px;
}
footer ul{ padding: 0; }
footer ul li{ list-style: none; }
footer ul li a{ 
  font-size:20px;
  color: #ffffff !important; 
  margin-bottom: 17px;
  display: block;
}
footer .feedback{
  background-color: #E5E5E5;
  color: #000000 !important;
  display: block;
  height: 84px;
  line-height: 84px;
  font-size: 40px;
  font-weight: bold;
  transform: rotate(-90deg);
  text-align: center;
  width: 293px;
  position: absolute;
  right: -145px;
  top: 105px;
}
/*.demo p{ display: none; }
.demo:hover .vacation_info p{ display: block;}*/
/* media querie */
@media (min-width: 1441px){
  .container{ max-width: 1440px; }
}
@media (max-width: 414px){
}